{% extends "base.html" %}

{% block title %}{{ project.name }} — Ingestor — OmniGraph{% endblock %}

{% block navigation_items %}
<sl-button href="/projects/{{ project.machine_name }}" variant="text">Overview</sl-button>
<sl-button href="/projects/{{ project.machine_name }}/metadata" variant="text">Metadata</sl-button>
<sl-button href="/projects/{{ project.machine_name }}/ingestor" variant="primary">Ingestor</sl-button>
<sl-button href="/projects/{{ project.machine_name }}/folios" variant="text">Folios</sl-button>
{% endblock %}
